[default]

[dummy]
aws_access_key_id = AKIAIOSFODNN7EXAMPLE
aws_secret_access_key = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[personal]
region = eu-west-1
credential_process = op-aws-to-json Personal Personal
